.text-overflow(){
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

html{
	min-height: 100%;
	background: #fff;
	overflow-y: hidden;
}

body{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
	&:hover{
		text-decoration: none;
	}
}

textarea{
	resize: none;
}

input[type="text"],
textarea{
	border-radius: 0 !important;
}

.modal-dialog{
	font-size: 13px;

	.modal-content{
		border-radius: 3px;
		border: 1px solid #ccc;
	
		.modal-header{
			padding: 10px 15px;
			border: none;

			.modal-title{
				font-size: 14px;
				padding-right: 10px;
				.text-overflow();
			}
		}

		.modal-footer{
			padding: 10px 15px;

			.btn{
				font-size: 13px;
			}		
		}
	}
}

.toolbar-panel{
	border-bottom: 1px solid #aaa;
	background: #fff;
	position: relative;
	z-index: 10;

	.toolbar-menus{
		padding: 2px 5px;

		li{
			display: inline-block;
			vertical-align: top;

			a{
				display: block;
				padding: 5px;
				color: #555;
				font-size: 16px;
			}
		}

		#yaml-toggle-button{
			border-radius: 3px;
			padding: 2px 5px;
			font-size: 11px;
			font-weight: bold;
			vertical-align: middle;
			margin-top: 7px;
			background: transparent;
			color: #6EB160;
			margin-right: 5px;
			border: 2px solid #6EB160;

			&.active{
				background: #6EB160;
				color: #fff;
			}
		}
	}
}

#editor-panel{
	height: 100%;
	position: relative;
}

#yaml-editor{
	padding: 10px;
}

.editor-control{ 
    position: absolute !important;
    top: 39px;
    right: 0;
    bottom: 0;
    left: 0;
}

.editor-panel{
	position: relative;
    transition-duration: 0.5s;

	&.two-view{
		height: 50% !important;
	}
}

.panel{
	border-radius: 0 !important;

	.panel-heading{
		background: #ddd;
		border-radius: 0;
		color: #666;
		padding: 7px 10px;

		.panel-title{
			font-size: 13px;
		}
	}

	.panel-body{
		padding: 10px;
	}
}

.element-item{
	padding: 0;
	background: #55acee;
	color: #fff;
	font-size: 13px;
	border-radius: 4px;
	max-width: 250px;
	min-height: 25px;
	display: inline-block;
	border-radius: 2px;
	overflow: hidden;

	&:hover{
		color: #fff;

		.element-control{
			display: inline-block;
		}
	}

	&.not-found{
		background: #ff5a5f;

		.element-text-button{
			background: #ff5a5f;
			border: 1px solid #ff5a5f;
		}
	}

	&.edit{
		background: #ff9900;

		.element-text-button{
			background: #ff9900;
			border: 1px solid #ff9900;
		}
	}

	+ .element-item{
		margin-left: 5px;
	}

	.element-control{
		display: none;
		background: #66757f !important;
		min-height: 25px;
	}

	.element{
		background: transparent;
		border-radius: 0;
		padding: 3px 7px;
		text-align: center;
		color: #fff;

		&:focus{
			outline: none;
		}
	}

	.element-text-button{
		font-size: 12px;
		padding: 3px 10px;
		text-align: left;
		max-width: 150px;

		.element-text{
			display: block;
			max-width: 120px;
			.text-overflow();
		}
	}
}

.btn{
	border-radius: 2px;

	&.file{
        position: relative;
        overflow: hidden;

        input[type="file"]{
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
            cursor: pointer;
            font-size: 100px;
            min-height: 100%;
        }
    }

    &.btn-primary{
    	background: #55acee;
    	border: 1px solid #55acee;
    }
}

.page-controls{
	a{
		display: inline-block;
		color: #777;

		+ a{
			margin-left: 5px;
		}
	}
}